<div class="title-panel"><h1>Atualize o Hospital</h1></div>
<div class="home-panel"><a href="/list-hospital"><i class="fas fa-home fa-3x"></i></a></div>
<div class="form-style-5">
    <form id="hospitalForm" action="/edit-hospital" method="post">
        <fieldset>
            {{#each data}}
            <legend><span class="number">1</span> Hospital</legend>
            <input type="hidden" name="id" id="id" value="{{id}}">
            <input type="text" name="nome" 
            id="nome" placeholder="Nome do hospital *" value="{{nome}}">
            <select id="endereco-dropdown" name="locality" ></select>
            <input type="hidden" name="id_endereco" id="id_endereco" value="{{id_endereco}}">
            <input type="submit" value="Apply" />
            {{/each}}
        </fieldset>
    </form>
</div>
<script>
    var number = parseInt(document.getElementById('id_endereco').value);
    let dropdown = document.getElementById('endereco-dropdown');
    dropdown.length = 0;

    let defaultOption = document.createElement('option');
    defaultOption.text = 'Escolha um Endereco';
    defaultOption.disabled = true

    dropdown.add(defaultOption);
    dropdown.selectedIndex = 0;

    const url = '/list-enderecoAJAX';

    const request = new XMLHttpRequest();
    request.open('GET', url, true);

    request.onload = function() {
        if (request.status >= 200 && request.status < 300) {
            const data = JSON.parse(request.responseText);
            let option;
            for (let i = 0; i < data.length; i++) {
                option = document.createElement('option');
                option.text = data[i].endereco;
                option.value = data[i].id;
                dropdown.add(option);
                if(data[i].id == number) {
                    dropdown.selectedIndex = i + 1
                }
            }
        } else {
            console.log('The request failed!');
        }   
    }
    request.onerror = function() {
        console.error('An error occurred fetching the JSON from ' + url);
    };
    request.send();


    document.getElementById('hospitalForm').onsubmit = function() {
        document.getElementById('id_endereco').value = document.getElementById('endereco-dropdown').value
    }
</script>