<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal" style="padding: 0px 0px 15px 0px; background-color: #25076B !important;">
    <div style="color: #fff!important; margin: none;">
        <p style="margin: 0px 0px 0px 0px; font-size: 40px; text-indent: 4px;">Presentes</p>
    </div>
    <div class="div-inputs">
        <div class="div-input">
            <img class="presentes" src="/presenteA" alt="Presente A">
            <input class="input" type="text" id="Q1" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteB" alt="Presente B">
            <input class="input" type="text" id="Q2" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteC" alt="Presente C">
            <input class="input" type="text" id="Q3" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteD" alt="Presente D">
            <input class="input" type="text" id="Q4" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 12px;">
        <a class="btn-trans" href="#" rel="modal:close">Ok</a>
    </div>
</div>

<!-- Modal HTML embedded directly into document -->
<div id="ex2" class="modal" style="padding: 0px 0px 15px 0px; background-color: #25076B !important;">
    <div style="color: #fff!important; margin: none;">
        <p style="margin: 0px 0px 0px 0px; font-size: 40px; text-indent: 4px;">Presentes</p>
    </div>
    <div class="div-inputs">    
        <div class="div-input">
            <img class="presentes" src="/presenteE" alt="Presente E">
            <input class="input" type="text" id="Q5" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteF" alt="Presente F">
            <input class="input" type="text" id="Q6" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteG" alt="Presente G">
            <input class="input" type="text" id="Q7" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>    
        
        <div class="div-input">
            <img class="presentes" src="/presenteH" alt="Presente H">
            <input class="input" type="text" id="Q8" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

    </div>
    <div style="display: flex; justify-content: center; margin-top: 12px;">
        <a id='btn-ok-q2' class="btn-trans" href="#" rel="modal:close">Ok</a>
    </div>
</div>
<!--
    $('a[href="#ex1"]').click(function(event) {
        event.preventDefault();
        $(this).modal({
          fadeDuration: 400,
          escapeClose: false,
          clickClose: false,
          showClose: false
        });
      });
    
      $('a[href="#ex2"]').click(function(event) {
        event.preventDefault();
        $(this).modal({
          fadeDuration: 400,
          escapeClose: false,
          clickClose: false,
          showClose: false
        });
      });

-->