<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrabalhoPIC</title>
    <script src="/js/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div id="navigationBar">
        <ul class="flex-center">
            <li><a href="/home">Pagina Inicial</a></li>
            <li><a href="/intrucoes">Instruções</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </div>
    {{{body}}}
</body>
</html>