<div style="display: flex; padding: 5% 5% % 5%; background-color: #25076B;">
    <div style="background-color: #46178F;">
        <div style="display: flex;">
            <div id="star-five" style="position: absolute; margin-left: 12%; margin-top: 23%; z-index: 1;"></div>
            <div id="star-five" style="position: absolute; margin-left: 81%; margin-top: 7%; z-index: 1;"></div>
            <div class="colunaDupla center">
                <h1 style="color: white;">Conteúdo em sala de aula </h1> 
                <p style="color: white;"> “Se me derem uma alavanca e um ponto de apoio, deslocarei o mundo”. Essa foi a frase dita 
                    por Arquimedes para descrever a função de uma alavanca. Ela constitui-se de uma máquina simples, 
                    é utilizada para facilitar a execução de um trabalho e tem a capacidade de multiplicar a força 
                    aplicada sobre ela. Suas principais funções são: elevar objetos pesados, recortar, movimentar etc.</p>        
            </div>
            <div class="colunaDupla center">
                <h1 style="color: white;">Um breve tutorial</h1>
                <div class="video-wrap" style="width: 524px; display: flex; align-items: baseline;">
                    <video width="524" height="295" autobuffer autoplay muted webkit-playsinline="true" id="videoIntroducao"
                    data-lzy-src="/tutorial" 
                    src="/tutorial" playsinline="true" >
                        <div class="fallback">
                            <img alt="Video" width="524" height="295" />
                        </div>
                    </video>
                    <a href="javascript:;" onclick="muteUnmute()" class="btn-trans" 
                    style="position: relative; right: 30%; top: -5%; background: #46178F; text-decoration: none;">
                        Desmutar
                    </a>
                    <a href="javascript:;" onclick="goFullscreen('videoIntroducao'); return false" class="btn-trans2"
                    style="position: relative; right: 30%; top: -5%; background: #46178F; text-decoration: none;">
                        Tela Cheia
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: flex;">
    <!-- iFrame -->
    <div style="display: flex; width: 100%;">
        <div class="colunaUnica iframe">
            <!--<div id="star-five" style="position: absolute; margin-left: 67%; margin-top: -17%; z-index: 1;"></div>
            <div id="star-five" style="position: absolute; margin-left: -3%; margin-top: 16%; z-index: 1;"></div> -->
            <div style="z-index: 2;">
                <iframe src="https://phet.colorado.edu/sims/html/balancing-act/latest/balancing-act_pt_BR.html" 
                width="800" height="600" scrolling="no" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Link to open the modal -->
    <div class="btns">
        <h1 style="color: white;">Questionário </h1>
        <div class="buttons" style="display: flex; justify-content: space-around; flex-wrap: wrap;"></div>
    </div>
</div>



<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="flex-center">
            <img class="modal-picture presentes" src="">
        </div>
        <div class="modal-body">
            <div>
                <p class="modal-description" style="text-indent: 0px !important;"></p>
            </div>
            <div class="div-input">
                <p style="text-align: start; text-indent: 5px;">Resposta</p>
                <input class="input modal-question" type="text" name="">
                <input class="modal-answer" type="text" style="display:none">
            </div>
        </div>

        <div class="modal-footer">
            <div style="display: flex; justify-content: center; margin-top: 12px;">
                <input id="buttonId" type="text" style="display: none;">
                <a class="btn-trans btn" href="#" data-dismiss="modal" onclick="responder()">Responder</a>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
<script>
    const questions = getQuestions();

    $('#navigationBar').children(0).children(1)[1].style.opacity = "50%"

    $(".input").inputmask({
        regex: "[0-9.]*"
    });
    for (var i = 0; i < questions.length; i++) {
        addButton(i);
    }

    $("#myModal").on('show.bs.modal', function(event) {
        showQuestion(event, $(this));
    });

    $("#myModal").on('hidden.bs.modal', function(event) {
        $('.modal-question').stop();
        $('.modal-answer').val("");
        $('.modal-question').val("");
        $('.modal-question').css("background", "#fff")
    });
</script>