<div class="title-panel"><h1>Tabela de Usuários</h1></div>
<div class="home-panel"><a href="/users"><i class="fas fa-home fa-3x"></i></a></div>
<div id="grid"></div>

<script src="https://code.datagridxl.com/datagridxl.js"></script>
<script>
makeAjaxRequest("/datatableData", function(data){
	var parsedData = JSON.parse(data)
	var grid = new DataGridXL("grid", {
		data: parsedData,
		defaultColWidth: 200
	})
  grid.events.on('cellvaluechange', (event) => {
    documentchangeHandler(event, grid)
  });
})

function makeAjaxRequest(path, callback){

  var xhr = new XMLHttpRequest();
  xhr.onload = function () {
    if (xhr.status >= 200 && xhr.status < 300) {
      callback(xhr.response);
    } else {
      console.log('The request failed!');
    }
  };
  xhr.open('GET', path);
  xhr.send();
}

function documentchangeHandler (event, grid) {

  var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
  var theUrl = '/updateDatatable';
  xmlhttp.open('POST', theUrl);
  xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  xmlhttp.setRequestHeader('Content-Type', 'application/json');
  xmlhttp.send(JSON.stringify(grid.getData()[event.rowIds[0] - 1]))
}

</script>