<div class="form-style-5">
    <form action="/editUser" method="post">
        <fieldset>
            <legend><span class="number">1</span> User</legend>
            <input type="text" name="name" id="name" placeholder="Your Name *">
            <input type="email" name="email" id="email" placeholder="Your Email *">
            <input type="submit" value="Apply" />
        </fieldset>
    </form>

</div>