<div class="" style="display: flex; padding: 5% 5% 0% 5%; background-color: #C60929;">
    <div class="" style="display: flex; background-color: #E21B3C;">
        <div class="colunaDupla center">
            <h1 style="color: white; text-align: left;">Balancing Act</h1> 
            <p style="color: white;">Venha aprender sobre alavancas com a aplicação “Balancing Act”,
            através do peso dos objetos determine o comportamento da gangorra.
            </p>
            <a class="rainbow rainbow-1">Experimente agora<a/>       
        </div>
        <div class="colunaDupla center">
            <video width="524" height="295" autobuffer autoplay muted loop webkit-playsinline="true"
            data-lzy-src="https://www.youtube.com/watch?v=b0y_qjdrGio&list=RDb0y_qjdrGio&start_radio=1&ab_channel=Murci%C3%A9lagoSV" 
            src="/music"
            playsinline="true" poster="https://kahoot.com/files/2020/03/schools-2-placeholder-702x439.png">
                <div class="fallback">
                    <img alt="Video" width="524" height="295" />
                </div>
            </video>
            <a href="javascript:;" class="btn-trans" data-a11y-dialog-show="hero-video" style="">
                Watch video 
            </a>
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<script>
    document.getElementById('navigationBar').children[0].children[0].style.opacity = "50%"
</script>



