<div class="" style="display: flex; padding: 5% 5% 0% 5%; background-color: #25076B;">
    <div class="" style="background-color: #46178F;">
        <div style="display: flex;">
            <div class="colunaDupla center">
                <h1 style="color: white;">Conteúdo em sala de aula </h1> 
                <p style="color: white;"> “Se me derem uma alavanca e um ponto de apoio, deslocarei o mundo”. Essa foi a frase dita 
                    por Arquimedes para descrever a função de uma alavanca. Ela constitui-se de uma máquina simples, 
                    é utilizada para facilitar a execução de um trabalho e tem a capacidade de multiplicar a força 
                    aplicada sobre ela. Suas principais funções são: elevar objetos pesados, recortar, movimentar etc.</p>        
            </div>
            <div class="colunaDupla center">
                <h1 style="color: white;">Video Tutorial</h1>
                <div class="video-wrap" style="width: 524px;">
                    <video width="524" height="295" autobuffer autoplay muted loop webkit-playsinline="true" id="videoIntroducao"
                    data-lzy-src="https://www.youtube.com/watch?v=b0y_qjdrGio&list=RDb0y_qjdrGio&start_radio=1&ab_channel=Murci%C3%A9lagoSV" 
                    src="/music"
                    playsinline="true" poster="https://kahoot.com/files/2020/03/schools-2-placeholder-702x439.png">
                        <div class="fallback">
                            <img alt="Video" width="524" height="295" />
                        </div>
                    </video>
                    <a href="javascript:;" onclick="muteUnmute()" class="btn-trans" style="bottom: 34px; position: relative; right: -24%; top: 3%;">
                        Unmute
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal" style="padding: 0px 0px 15px 0px; background-color: #25076B !important;">
    <div style="color: #fff!important; margin: none;">
        <p style="margin: 0px 0px 0px 0px; font-size: 40px; text-indent: 4px;">Presentes</p>
    </div>
    <div class="div-inputs">
        <div class="div-input">
            <img class="presentes" src="/presenteA" alt="Presente A">
            <input class="input" type="text" id="Q1" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteB" alt="Presente B">
            <input class="input" type="text" id="Q2" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteC" alt="Presente C">
            <input class="input" type="text" id="Q3" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteD" alt="Presente D">
            <input class="input" type="text" id="Q4" name="questions1[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 12px;">
        <a id='btn-ok-q1' class="btn-trans" href="#" rel="modal:close">Ok</a>
    </div>
</div>

<!-- Modal HTML embedded directly into document -->
<div id="ex2" class="modal" style="padding: 0px 0px 15px 0px; background-color: #25076B !important;">
    <div style="color: #fff!important; margin: none;">
        <p style="margin: 0px 0px 0px 0px; font-size: 40px; text-indent: 4px;">Presentes</p>
    </div>
    <div class="div-inputs">    
        <div class="div-input">
            <img class="presentes" src="/presenteE" alt="Presente E">
            <input class="input" type="text" id="Q5" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteF" alt="Presente F">
            <input class="input" type="text" id="Q6" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

        <div class="div-input">
            <img class="presentes" src="/presenteG" alt="Presente G">
            <input class="input" type="text" id="Q7" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>    
        
        <div class="div-input">
            <img class="presentes" src="/presenteH" alt="Presente H">
            <input class="input" type="text" id="Q8" name="questions2[]">
            <p style="text-align: start; text-indent: 5px;">KG</p>
        </div>

    </div>
    <div style="display: flex; justify-content: center; margin-top: 12px;">
        <a id='btn-ok-q2' class="btn-trans" href="#" rel="modal:close">Ok</a>
    </div>
</div>

<!-- Link to open the modal -->
<div class="btns">
    <h1 style="color: white;">Questionario </h1>
    <div style="display: flex; justify-content: space-around;">
        <a id='btn-questions1' class="btn-trans" href="#ex1" style="padding: 10px; background: #46178F; border: 6px solid #25076b69; border-bottom-left-radius: 0px;">Questão 1</a>
        <a id='btn-questions2' class="btn-trans" href="#ex2" style="padding: 10px; background: #46178F; border: 6px solid #25076b69; border-bottom-right-radius: 0px;">Questão 2</a>
    </div>
</div>
<!-- iFrame -->
<div class="colunaUnica iframe">
    <iframe src="https://phet.colorado.edu/sims/html/balancing-act/latest/balancing-act_pt_BR.html" 
    width="800" height="600" scrolling="no" allowfullscreen></iframe>
</div>

<script>

    const correctAnswers = [20,5,15,10,2.5,50,25,7.5];

    $('#navigationBar').children(0).children(1)[1].style.opacity = "50%"

    $(".input").inputmask({
        regex: "[0-9.]*"
    });
    
    $('a[href="#ex1"]').click(function(event) {
      event.preventDefault();
      $(this).modal({
        fadeDuration: 400,
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    $('a[href="#ex2"]').click(function(event) {
      event.preventDefault();
      $(this).modal({
        fadeDuration: 400,
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    $("input[type='text']").change(function () {
        var id = this.id.charAt(1)
        if(correctAnswers[this.id.charAt(1) - 1] == this.value) {
            $(this).animate({backgroundColor: "#14980f94"}, 1000);

        } else {
            $(this).css("background", "#ac000094")
            $(this).effect( "shake", {distance: 5} , "slow");
        }
    });

    $('#btn-ok-q1').click(() => {
    var answers = $('input[name^=questions1]').map(function(idx, elem) {
        if(correctAnswers[elem.id.charAt(1) - 1] == elem.value) {
            return true;
        }
        return false
    }).get();
    if(answers.every(allTrue)) {
        $('#btn-questions1').animate({
            backgroundColor: "#14980f94",
            color: '#000'
            }, 1000);
    }
    });

    $('#btn-ok-q2').click(() => {
    var answers = $('input[name^=questions2]').map(function(idx, elem) {
        if(correctAnswers[elem.id.charAt(1) - 1] == elem.value) {
            return true;
        }
        return false
    }).get();
    if(answers.every(allTrue)) {
        $('#btn-questions2').animate({
            backgroundColor: "#14980f94",
            color: '#000'
            }, 1000);
    }
    });

    function allTrue(element, index, array) {
        return element == true;
    }

</script>



