<div>
    <div class="colunaUnica">
        <img src="/logoUnb" alt="Logo da Unb">
        <h1>Sobre a dupla</h1> 
        <p> Eduardo Freire Fernandes e Felipe Batalha são alunos da Universidade de Brasília
             do curso de Licenciatura em Computação.</p>        
    </div>
</div>
<script>
    document.getElementById('navigationBar').children[0].children[3].style.opacity = "50%"
</script>


