<div class="form-style-5">
    <form action="/updateUser" method="post">
        <fieldset>
            {{#each data}}
            <legend><span class="number">1</span> User</legend>
            <input type="hidden" name="id" id="id" value="{{id}}">
            <input type="text" name="name" id="name" placeholder="Your Name *" value="{{name}}">
            <input type="email" name="email" id="email" placeholder="Your Email *" value="{{email}}">
            <input type="submit" value="Apply" />
            {{/each}}
        </fieldset>
    </form>

</div>