<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>
                <a href="/deleteUser/{{id}}">Delete</a>
            </td>
            <td>
                <a href="/updateUser/{{id}}">Edit</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/editUser">Create</a>