<div class="title-panel"><h1>Create User</h1></div>
<div class="home-panel"><a href="/users"><i class="fas fa-home fa-3x"></i></a></div>
<div class="form-style-5">
    <form action="/editUser" method="post">
        <fieldset>
            <legend><span class="number">1</span> User</legend>
            <input type="text" name="name" id="name" placeholder="Your Name *">
            <input type="email" name="email" id="email" placeholder="Your Email *">
            <input type="submit" value="Apply" />
        </fieldset>
    </form>

</div>