<div class="title-panel"><h1>Adicione um Medicamento</h1></div>
<div class="home-panel"><a href="/list-medicamento"><i class="fas fa-home fa-3x"></i></a></div>
<div class="form-style-5">
    <form id="medicamentoForm" action="/create-medicamento" method="post">
        <fieldset>
            <legend><span class="number">1</span> Medicamento</legend>
            <input type="text" name="nome" 
            id="nome" placeholder="Nome do medicamento *">
            <textarea name="descricaoTextarea" id="descricaoTextarea" 
            cols="30" rows="10" placeholder="Descrição do medicamento *"></textarea>
            <input type="hidden" name="descricao" id="descricao">
            <input type="submit" value="Apply" />
        </fieldset>
    </form>
</div>
<script>
    document.getElementById("medicamentoForm").onsubmit = function() {
        document.getElementById("descricao").value = document.getElementById("descricaoTextarea").value
    }
</script>