<div class="create-panel">
    <a href="/create-medicamento"><i class="far fa-plus-square fa-3x"></i></a>
    {{!-- <a href="/wijmo"><i class="fas fa-table fa-3x"></i></a> --}}
</div>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{nome}}</td>
            <td id="tdDescricao">{{descricao}}</td>
            <td>
                <a href="/delete-medicamento/{{id}}"><i class="trash far fa-trash-alt fa-3x"></i></a>
                <a href="/edit-medicamento/{{id}}"><i class="far fa-edit fa-3x"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


