<div class="title-panel"><h1>Adicione um Endereço</h1></div>
<div class="home-panel"><a href="/list-endereco"><i class="fas fa-home fa-3x"></i></a></div>
<div class="form-style-5">
    <form id="enderecoForm" action="/create-endereco" method="post">
        <fieldset>
            <legend><span class="number">1</span> Endereço</legend>
            <input type="text" name="endereco" 
            id="endereco" placeholder="Seu endereço *">
            <input type="number" name="cep" 
            id="cep" placeholder="Seu CEP *">
            <input type="submit" value="Apply" />
        </fieldset>
    </form>
</div>