<div class="form-style-5">
    <form action="/editUser" method="post">
        <fieldset>
            <legend><span class="number">1</span> Endereço</legend>
            <input type="text" name="endereco" 
            id="endereco" placeholder="Seu endereço *">
            <input type="number" name="cep" 
            id="cep" placeholder="Seu CEP *">
            <input type="submit" value="Apply" />
        </fieldset>
    </form>
</div>