<div class="title-panel"><h1>Atualize o Endereço</h1></div>
<div class="home-panel"><a href="/list-endereco"><i class="fas fa-home fa-3x"></i></a></div>
<div class="form-style-5">
    <form id="enderecoForm" action="/editUser" method="post">
        <fieldset>
            {{#each data}}
            <legend><span class="number">1</span> Endereço</legend>
            <input type="hidden" name="id" id="id" value="{{id}}">
            <input type="text" name="endereco" 
            id="endereco" placeholder="Seu endereço *" value="{{endereco}}">
            <input type="text" name="cep" 
            id="cep" value="{{cep}}">
            <input type="submit" value="Apply" />
            {{/each}}
        </fieldset>
    </form>
</div>
<script src="https://unpkg.com/imask"></script>
<script>
    var cepMask = IMask(
        document.getElementById('cep'), {
        mask: '00000-000',
        lazy: false,
        maxLength: 8
    });
    document.getElementById('enderecoForm').onsubmit = () => {
        document.getElementById('cep').value = cepMask.unmaskedValue
    }
</script>