<div class="form-style-5">
    <form action="/editUser" method="post">
        <fieldset>
            <legend><span class="number">1</span> Endereço</legend>
            <input type="hidden" name="id" id="id" value="{{id}}">
            <input type="text" name="endereco" 
            id="endereco" placeholder="Seu endereço *" value="{{endereco}}">
            <input type="number" name="cep" 
            id="cep" placeholder="Seu CEP *" value="{{cep}}">
            <input type="submit" value="Apply" />
        </fieldset>
    </form>
</div>