<div class="create-panel">
    <a href="/create-paciente"><i class="far fa-plus-square fa-3x"></i></a>
    {{!-- <a href="/wijmo"><i class="fas fa-table fa-3x"></i></a> --}}
</div>
<table>
    <thead>
        <tr>
            <th>Indentificador</th>
            <th>Data do Relatório</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{identificador}}</td>
            <td>{{relatorio_data}}</td>
            <td>
                <a href="/delete-paciente/{{id}}"><i class="trash far fa-trash-alt fa-3x"></i></a>
                <a href="/edit-paciente/{{id}}"><i class="far fa-edit fa-3x"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



